<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form method="POST" class="form-bg">
    {%csrf_token%}
    <label for="name">Name:</label>
    <input type="text" name="taskname" value="{{a.taskname}}"><br><br>
    <label for="date">Date:</label>
    <input type="date" name="taskdate" 
    value="{{a.taskdate|date:'Y-m-d' }}"><br><br>
    <button type="submit">update</button>
  </form>  
</body>
</html>